main h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

main h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

main h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

main h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

main h5 {
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

main h6 {
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

main p {
    font-size: 0.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

main a {
    color: #fff;
    text-decoration: none;
}

main small {
    font-size: 0.75rem;
    font-weight: lighter;
    color: #3a3a3a;
    line-height: 1;
}

@media (min-width: 768px) {
    main h1 {
        font-size: 5rem;
    }

    main h2 {
        font-size: 3.5rem;
    }

    main h3 {
        font-size: 3rem;
    }

    main h4 {
        font-size: 2.5rem;
    }

    main h5 {
        font-size: 2rem;
    }

    main h6 {
        font-size: 1.5rem;
    }

    main p {
        font-size: 1.2rem;
    }
}

.animate-pulse-void {
    animation: pulse-void 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-void {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
}
